@model PatientInfrastructure.Application.Dto.PatientInformationRequest
<h1>Add Patient Information</h1>
<form asp-controller="Home" asp-action="Create" name="add_patient">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Disease"></label>
        <select asp-for="Disease" asp-items="ViewBag.Diseases" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Epilepsy"></label>
        <select asp-for="Disease" asp-items="ViewBag.Epilepsy" class=" form-control"></select>
    </div>
    <div class="form-group">
        <label>Allergies</label>
        <div class="row">
            <div class="col">
                <select name="AlergiesLeft" asp-items="ViewBag.Allergy" class=" form-control" multiple></select>
            </div>
            <div class="col d-flex justify-content-between">
                <button type="button" class="btn btn-primary " onclick="moveRight('AlergiesLeft','AllergiesDetails');">Add &rarr;  </button>
                <button type="button" class="btn btn-danger " onclick="moveRight('AllergiesDetails','AlergiesLeft');">&larr; Remove </button>
            </div>
            <div class="col">
                <select asp-for="AllergiesDetails" class=" form-control"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Other NCds</label>
        <div class="row">
            <div class="col">
                <select name="ncdLeft" asp-items="ViewBag.NCD" class=" form-control" multiple></select>
            </div>
            <div class="col d-flex justify-content-between">
                <button type="button" class="btn btn-primary " onclick="moveRight('ncdLeft','NCDsDetails');">Add &rarr;  </button>
                <button type="button" class="btn btn-danger " onclick="moveRight('NCDsDetails','ncdLeft');">&larr; Remove </button>
            </div>
            <div class="col">
                <select asp-for="NCDsDetails" class=" form-control"></select>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <button class="btn btn-success" type="submit">Submit Form</button>
    </div>
</form>